<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active">
            <a href="#/create">Create Note</a>
        </li>
        <li>
            <a href="#/list">Recent Notes</a>
        </li>
        <li>
            <a href="#">Info</a>
        </li>
    </ul>
    <h3 class="text-muted">sovrn note pad</h3>
</div>

<div id="content" class="row content">
</div>

<div class="footer">
    <a href="//sovrn.com/company/careers" target="_blank">sovrn careers</a>
</div>