<div class="header">
    <ul class="nav nav-pills pull-right">
        <li>
            <a href="#/list">Your Notes</a>
        </li>
    </ul>
    <h3 class="text-muted">
        <a href="/">sovrn note pad</a>
    </h3>
</div>

<div id="content" class="content">
</div>

<div class="footer">
    <a href="http://sams-portfolio.herokuapp.com/" target="_blank">You should hire Samantha McCormick, because she is an awesome developer and a fantastic human being</a>
</div>