<h3>Welcome!</h3>
<p>Thank you for taking the time to play with our little interview project. Have fun!</p>

<h4>Instructions:</h4>
<ol>
    <li>
        Add a "Remove all notes" button that removes all notes from the collection, and updates the displayed list.
    </li>
    <li>
        Add a "Remove Note" button that removes the specified note from the collection, and updates the displayed list.
    </li>
    <li>
        Add functionality to allow the user to sort the table by Title. (optional)
    </li>
    <li>
        Add your contact information to <code>README.md</code>.
    </li>
    <li>
        Create a pull request.
    </li>
</ol>
<p>Let us know if you have any questions.</p>