<% if(!_.isEmpty(note.get('id'))){ %>
    <h3>Edit Note</h3>
<% }else{ %>
    <h3>Create a Note</h3>
<% } %>
<form id="noteForm" role="form">
    <input type="text" id="title" class="form-control" placeholder="Title" required="" autofocus="" value="<%= note.get('title') %>">
    <textarea id="body" class="form-control" placeholder="Write something here..." required=""><%= note.get('body') %></textarea>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="save">Save</button>
</form>